
  <div class="container-fluid">
	<div class="row">
		
		<menuLateral></menuLateral>

<div class="col-md-6">
            <div class="jumbotron center-block">


	<div class="clearfix"></div>
		
	<hr>
	
	<h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Usuários cadastrados</h4>

	<span *ngIf="users == 0">Não há usuários cadastrados</span>

	<table *ngIf="users != 0" class="table table-striped table-bordered">
		<tr>
			<th>Nome</th>
			<th></th>
		</tr>
		<tr *ngFor="let user of users | async">
			<td>{{user.name}}</td>
			
		</tr>
	</table>
</div>