<div class="container-fluid">
	<div class="row">
		<menuLateral></menuLateral>

       <div class="col-md-9">
            <div class="jumbotron center-block">
                <label class="control-label" >***FOTO DO SISTEMA RANQUEADO****</label> <br>
                <label class="control-label" >Nome:  {{name}}   </label> <br>
                <label class="control-label" >Email: {{email}}    </label> <br>
                <label class="control-label" >Idade:  {{age}}  </label> <br>
                <label class="control-label" >Pontuação: {{score}} </label> <br>
				
            </div>
        </div>
		
    </div>
</div>
<router-outlet></router-outlet>
