<div class="jumbotron">


  <input type="text" #newname placeholder="Name" />
  <br />
  <button (click)="save(newname.value)">Set Name</button>
  <button (click)="delete()">Delete</button>


	<div class="clearfix"></div>
		
	<hr>
	
	<h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Usuários cadastrados</h4>

	<span *ngIf="users == 0">Não há usuários cadastrados</span>

	<table *ngIf="users != 0" class="table table-striped table-bordered">
		<tr>
			<th>Nome</th>
			<th></th>
		</tr>
		<tr *ngFor="let user of users | async">
			<td>{{user.name}}</td>
			<td>
				<a href="#" (click)="delete()"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span></a>
			</td>
		</tr>
	</table>
</div>