@font-face {
    font-family:'Raleway';
    src: url("./../app/font/Raleway-Regular.ttf");
}

@font-face {
    font-family:'Chelsea';
    src: url("./../app/font/ChelseaMarket-Regular.ttf");
}

.navbar-default {
  background-color: #ffffff;
  border-color: #e54d4d;
}

.jumbotron {
	max-width: 600px;
	padding: 20px;
	background: #ffffff;
	border-radius: 5%;
	font-family: 'Raleway', sans-serif;

}

.nav {
	max-width: 200px;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
}

textarea {
   resize: none;
}

.nav li > a{
 	background: #e84e4e;
    height: 40px;
    border-radius: 0px 0px 15px 15px;
    color: #f7f7f7;

}

.nav li > a:hover,
.nav li > a:focus{
	color: #f7f7f7;
	background: #c11010;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 1rem;
  background-color: #ffffff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0px 0px 10px black;
  z-index: 1;

}
