<form #userForm="ngForm">
        
    <div id="nameGroup" class="form-group">
        <label class="control-label" for="name" >Nome:</label>
        <input type="text" id="name" [(ngModel)]="user.name" name="name" class="form-control" placeholder="Digite o nome" required minlength ="6" required  #name="ngModel"/>
            
        <div [hidden]="name.valid || name.pristine" 
            class="alert alert-danger">
            Nome é obrigatório
        </div>            
    </div>

    <div id="passwordGroup" class="form-group">
        <label class="control-label" for="password" >Senha:</label>
        <input type="password" id="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Digite a senha" required minlength ="6" required #password="ngModel"/>
                
        <div [hidden]="password.valid || password.pristine" 
            class="alert alert-danger">
            Senha é obrigatória
        </div>

    </div>

    <div id="passwordConfirmGroup" class="form-group">
        <label class="control-label" for="passwordConfirm" >Confirmação de senha:</label>
        <input type="password" id="passwordConfirm" [(ngModel)]="user.passwordConfirm" name="passwordConfirm" class="form-control" placeholder="Digite a senha novamente" required minlength ="6" required #passwordConfirm="ngModel"/>
            
        <div [hidden]="passwordConfirm.valid || passwordConfirm.pristine" 
            class="alert alert-danger">
            Confirmação de senha é obrigatória
        </div>

    </div>
                    
    <div id="emailGroup" class="form-group">
        <label class="control-label" for="email">E-mail:</label>
        <input type="email" id="email" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Digite o e-mail" required #email="ngModel"/>
            
        <div [hidden]="email.valid || email.pristine" 
            class="alert alert-danger">
            Email é obrigatório
        </div>

    </div>
                
    <div id="ageGroup" class="form-group">
        <label class="control-label" for="age">Idade:</label>
        <input type="number" class="form-control" id="age" [(ngModel)]="user.age" name="age" required #age="ngModel"/>
            
        <div [hidden]="age.valid || age.pristine" 
            class="alert alert-danger">
            Idade é obrigatória
        </div>

    </div>
<!--
    <div class="form-group">
        <label class="control-label" for="sex">Sexo:</label>
            <select class="form-control" id="sex" required [(ngModel)]="user.sex" name="sex">
            <option *ngFor="let s of sexs" [value] = "s">{{s}}</option>
        </select>      

    </div>

    <div class="form-group">
        <label class="control-label" for="interest">Interesses:</label>
        <select class="form-control" id="interest" required [(ngModel)]="user.interest" name="interest">
            <option *ngFor="let i of interests" [value] = "i">{{i}}</option>
        </select>
    </div>	
      -->
    <br/>		       
            
    <div class="btn-group pull-right">
        <input type="reset" name="clear" class="btn btn-default" value="Limpar">
        
        <button type="submit" class="btn btn-primary" (click)="create()" [disabled]="!userForm.form.valid">
        <i><img src="app/img/add16.png"></i>
        Cadastrar</button>
    </div>    

</form>
