
<div class="container-fluid">
	<div class="row">
		
		<menuLateral></menuLateral>

       <div class="col-md-6">
            <div class="jumbotron center-block">

                <h3 class="page-header">Cadastro</h3>

				<user-form [user]="newUser"></user-form> 
				
            </div>
        </div>
		
    </div>
</div>
<router-outlet></router-outlet>
