
<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a routerLink="/users">Cadastrar</a></li>
        <li role="presentation"><a href="#">Sobre a Educriança</a></li>
        <li role="presentation"><a routerLink="/ranking">Ranking</a></li>
        <li role="presentation"><a routerLink="/gameCognicao">Game Cognição </a></li>

    </ul>
</div>
