<div id="container">

        <div id="bird"></div>

        <div id="pole_1" class="pole"></div>
        <div id="pole_2" class="pole"></div>

    </div>

    <div id="score_div">
        <p><b>Score: </b><span id="score">0</span></p>
        <p><b>Speed: </b><span id="speed">10</span></p>
    </div>

    <button id="restart_btn">Restart</button>
