<nav class="navbar navbar-default">
		<div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" routerLink="/index">
	        <img alt="Educriança" src="app/img/icone.png">
	      </a>
	    </div>
	    <p class="navbar-text">Bem-vindo ao Educriança</p>
		
			<div>			
	    <form class="navbar-form navbar-right" role="login">
	  		<div id="nameLogin" class="form-group">
	  			<label class="control-label" for="name" >Nome:</label>
				<input type="text" [(ngModel)]="email" name="email" class="form-control" placeholder="Digite o nome" />
			</div>

			<div id="passwordLogin" class="form-group">
	  			<label class="control-label" for="passwordLogin" >Senha:</label>
				<input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Digite a senha" required minlength ="6" required/>
			</div>
			<div class="btn-group pull-right">
				<button id="buttonLogon" type="submit" (click) = "login()" class="btn btn-danger">Entrar</button>
			</div>
		</form>
		</div>
	</div>
</nav>