<div class="container-fluid">
	<div class="row">
		<menuLateral></menuLateral>

       <div class="col-md-9">
            <div class="jumbotron center-block">             
		
        <div id="bird"> <a routerLink="/gameCognicao"></a> </div>
        	    <img routerLink="/gameCognicao" src="./../../img/icone.png" class="img-circle">
                <img class="img-circle">
				<img class="img-circle">
                <img class="img-circle">
                <img class="img-circle">

            </div>
        </div>
		
    </div>
</div>
<router-outlet></router-outlet>