 .circle {
     position: absolute;
      width: 50px;
      height: 50px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: red;
    }

#circle1 {
    top: 0;
}

#circle2 {
    bottom: 0;
}

#container {
    position: relative;
    height: 400px;
    width: 500px;
    border: 2px solid red;
    background-color: lightgreen;
    margin-left: 4%;
    overflow: hidden;
}

#restart_btn {
    position: absolute;
    top: 0;
    width: 50%;
    padding: 20px;
    background-color: lightgreen;
    color: white;
    font-size: 35px;
    border: none;
    cursor: pointer;
    display: none;
}
