@font-face {
    font-family:'Raleway';
    src: url("./../app/font/Raleway-Regular.ttf");
}

@font-face {
    font-family:'Chelsea';
    src: url("./../app/font/ChelseaMarket-Regular.ttf");
}


.navbar-default {
  background-color: #ffffff;
  border-color: #e54d4d;
}

.jumbotron {	
	width: 100%;
    height: 500px;
	padding: 50px;
	background-image: url('./app/img/caderno.jpg');
	background-size: cover;
	font-family: 'Raleway', sans-serif;
   
}

.nav {	
	max-width: 200px;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
}

textarea {
   resize: none;
}

.nav li > a{
 	background: #e84e4e;    
    height: 40px;
    border-radius: 0px 0px 15px 15px;
    color: #f7f7f7;
	
}

.nav li > a:hover,
.nav li > a:focus{
	color: #f7f7f7;
	background: #c11010;    
}
 
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100%;
  max-width: 900px;
  margin: 4em auto;
  font-family: Raleway, Arial, sans-serif;
  padding: 1em 2em;
}

.position{
    position: absolute;
    top: 450px;
    left: 80%;
}

.ghost-button {
 color: #1E90FF;
 background: transparent;
 border: 2px solid #1E90FF;
 font-size: 19px;
 padding: 7px 12px;
 font-weight: normal;
 margin: 6px 0;
 margin-right: 12px;
 display: inline-block;
 text-decoration: none;
 font-family: 'Open Sans', sans-serif;
}
.ghost-button:hover, .ghost-button:active {
  color:#66CDAA;
  border: 2px solid #66CDAA;
}
